body {
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: #eee;
    padding: 18px;
    margin: 0;
    background-image: url('/mount/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    margin-bottom: 12px;
    color: #fff;
    font-size: 3rem;
}

.section-title {
    margin-top: 28px;
    margin-bottom: 12px;
    font-size: 1.2rem;
    border-bottom: 1px solid #444;
    padding-bottom: 6px;
    color: #ddd;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}

@media (min-width: 700px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

.beer-card {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 12px;
    border-radius: 10px;
    color: #808080;
    gap: 12px;
    background-color: #222;
}

.beer-number {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    line-height: 1;
    font-size: clamp(2rem, 6vw, 4rem);
    color: #fff;
}

.beer-info {
    flex: 1 1 auto;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ddd;
}

.beer-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.beer-style {
    font-size: 1.1rem;
    color: #eee;
}

.beer-img {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.beer-img img {
    height: 100%;
    width: auto;
    max-width: 100px;
    object-fit: contain;
    border-radius: 8px;
}

.beer-extra {
    margin-top: 4px;
    font-size: 0.85rem;
    color: #ffffff;
}

.beer-stats {
    margin-top: 4px;
    font-size: 0.9rem;
    color: #fff;
    display: flex;
    gap: 12px;
}

.untappd-link a {
    font-size: 0.85rem;
    color: #ffffff;
    text-decoration: none;
}

.img-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
}

.overlay-close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    user-select: none;
}